/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }  */
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
    height:6px;
  }
  
 
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c9c4c4; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }