.window-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  height:8px;
}



.window-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c9c4c4; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}
