
.thin-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  height:6px;
}



.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c9c4c4; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

th, td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}
 


  
